@page "/"

@using ToTally.Application.Interfaces
@using ToTally.Application.DTOs.Leagues
@inject ILeagueService LeagueService

<PageTitle>ToTally - Leagues</PageTitle>

<h1>ToTally</h1>

@if (isLoading)
{
    <p>Loading leagues...</p>
}
else if (leagues.Count == 0)
{
    <p>No leagues found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Abbreviation</th>
                <th>Sport</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var league in leagues)
            {
                <tr>
                    <td>@league.Name</td>
                    <td>@league.Abbreviation</td>
                    <td>@league.Sport</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IReadOnlyList<LeagueListItem> leagues = [];
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        leagues = await LeagueService.GetAllAsync();
        isLoading = false;
    }
}